.row {
  max-width: 114rem;
  margin: 0 auto;
  background-color: #f7f7f7;
  display: table;
  content: "";
  clear: both; }
  .row:not(:last-child) {
    margin-bottom: 6rem; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 8rem; }

.col-1-of-2 {
  width: calc((100% - 8rem) / 2); }

.u-text-center {
  text-align: center; }

.u-mb-small {
  margin-bottom: 2rem; }

.u-mb-medium {
  margin-bottom: 4rem; }

.u-mb-big {
  margin-bottom: 8rem; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box;
  padding: 3rem;
  color: #777; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(to right, #28b845, #7ed56f);
  transition: all .2s; }
  .heading-secondary:hover {
    transform: scale(1.05) skewY(2deg) skewX(1deg); }

.heading-tertiary {
  font-size: 1.6rem; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 6rem; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 184, 69, 0.8)), url("../img/hero.jpg");
  background-position: top;
  background-size: cover;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 84%, 0% 100%);
  clip-path: polygon(0 0, 100% 0%, 100% 84%, 0% 100%); }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .header__h {
    color: #fff;
    text-align: center;
    backface-visibility: hidden; }
    .header__h-primary {
      text-transform: uppercase;
      display: block;
      font-size: 6rem;
      letter-spacing: 3.5rem;
      animation-name: chapBeRast;
      animation-duration: 2s; }
    .header__h-sub {
      text-transform: uppercase;
      display: block;
      font-size: 2rem;
      letter-spacing: 1.3rem;
      animation: rastBeChap 2s;
      margin-bottom: 6rem; }
  .header__logo-box {
    position: absolute;
    top: 3rem;
    left: 3rem; }
  .header__logo-photo {
    height: 3rem; }

@keyframes chapBeRast {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes rastBeChap {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes paeenBeBala {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  80% {
    transform: translateY(-1rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes harekateDokme {
  0% {
    transform: scale(1.5); }
  100% {
    opacity: 0; } }

.btn:link,
.btn:visited {
  text-transform: uppercase;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.6rem;
  text-decoration: none;
  border-radius: 10rem;
  letter-spacing: 2px;
  word-spacing: 2px;
  position: relative; }
  .btn:link::after,
  .btn:visited::after {
    display: inline-block;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 10rem;
    transition: all .4s; }
  .btn:link:hover,
  .btn:visited:hover {
    transform: translateY(-1rem);
    transition: .2s;
    box-shadow: 0 10px 20px #000; }
    .btn:link:hover::after,
    .btn:visited:hover::after {
      transform: scale(1.5);
      opacity: 0; }
  .btn:link:active,
  .btn:visited:active {
    transform: translateY(-0.5rem);
    transition: .5s;
    box-shadow: 0 5px 10px #000; }

.btn--white {
  background-color: #fff;
  color: #000; }
  .btn--white::after {
    background-color: #fff; }

.btn--animated {
  animation: paeenBeBala 2s; }

.btn-text {
  font-size: 1.6rem;
  color: #55c57e;
  text-decoration: none;
  border-bottom: 1px solid #55c57e;
  padding: .3rem;
  padding-bottom: .3rem;
  transition: all .2s;
  display: inline-block;
  text-transform: uppercase; }
  .btn-text:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    color: #fff;
    background-color: #55c57e; }
  .btn-text:active {
    transform: translateY(-0.25rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.composition {
  position: relative;
  transition: all .2s; }
  .composition__photo {
    position: absolute;
    display: table;
    content: "";
    clear: both;
    transition: all .2s;
    z-index: 1;
    border-radius: 2px; }
    .composition__photo--1 {
      top: -2rem;
      left: 0; }
    .composition__photo--2 {
      top: 2rem;
      right: 0; }
    .composition__photo--3 {
      right: 20%;
      top: 10rem; }
    .composition__photo:hover {
      transform: scale(1.05);
      z-index: 2;
      outline: 2rem solid #55c57e;
      outline-offset: 2rem; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.about {
  background-color: #f7f7f7;
  padding: 20rem 0;
  margin-top: -25vh; }
