*,
*::after,
*::before {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box;
  padding: 3rem; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 184, 69, 0.8)), url("../img/hero.jpg");
  background-position: top;
  background-size: cover;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 84%, 0% 100%);
  clip-path: polygon(0 0, 100% 0%, 100% 84%, 0% 100%); }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .header__h {
    color: #fff;
    text-align: center;
    backface-visibility: hidden; }
    .header__h-primary {
      text-transform: uppercase;
      display: block;
      font-size: 6rem;
      letter-spacing: 3.5rem;
      animation-name: chapBeRast;
      animation-duration: 2s; }
    .header__h-sub {
      text-transform: uppercase;
      display: block;
      font-size: 2rem;
      letter-spacing: 1.3rem;
      animation: rastBeChap 2s;
      margin-bottom: 6rem; }
  .header__logo-box {
    position: absolute;
    top: 3rem;
    left: 3rem; }
  .header__logo-photo {
    height: 3rem; }

@keyframes chapBeRast {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes rastBeChap {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes paeenBeBala {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  80% {
    transform: translateY(-1rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes harekateDokme {
  0% {
    transform: scale(1.5); }
  100% {
    opacity: 0; } }

.btn:link,
.btn:visited {
  text-transform: uppercase;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.6rem;
  text-decoration: none;
  border-radius: 10rem;
  letter-spacing: 2px;
  word-spacing: 2px;
  position: relative; }
  .btn:link::after,
  .btn:visited::after {
    display: inline-block;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 10rem;
    transition: all .4s; }
  .btn:link:hover,
  .btn:visited:hover {
    transform: translateY(-1rem);
    transition: .2s;
    box-shadow: 0 10px 20px #000; }
    .btn:link:hover::after,
    .btn:visited:hover::after {
      transform: scale(1.5);
      opacity: 0; }
  .btn:link:active,
  .btn:visited:active {
    transform: translateY(-0.5rem);
    transition: .5s;
    box-shadow: 0 5px 10px #000; }

.btn--white {
  background-color: #fff;
  color: #000; }
  .btn--white::after {
    background-color: #fff; }

.btn--animated {
  animation: paeenBeBala 2s; }
