.btn:link,
.btn:visited{
  text-transform: uppercase;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.6rem;
  text-decoration: none;
  border-radius: 10rem;
  letter-spacing: 2px;
  word-spacing: 2px;
  
}

.btn--white{
  background-color: $color-white;
  color: $color-black;
}

.btn--animated{
  animation: paeenBeBala 2s;
}